<!DOCTYPE html>
<html>
<head>
	<title>Enter Site</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/cover.css"/>
</head>
<body>
		<div class="overlay"></div>
		<div>
			<h1 class="title">Universe of Web Development</h1>
		</div>
		<div class="enter">
			<a href="/dashboard">ENTER</a>
		</div>

</body>
</html>