<!DOCTYPE html>
<html>
<head>
	<title>Jeff Ho</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/app.css"/>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Jeff Ho</h1>
			<div class="icons">
				<a href="#">Projects</a>
				<a href="#">Experience</a>
				<a href="#">Technology</a>
				<a href="#">About Me</a>
				<a href="#">Contact Me</a>
			</div>
		</div>
		<div class="content">

			<div class="column two-quarter">
				<div class="panel">
					<h1>Projects</h1>
					<div class="image-wrap scale-down">
						<a href="#">
							<img class="projects" src="http://www.leliman.nl/wp-content/uploads/25758934_m-300x300.jpg">
						</a>
					</div>
				</div>	
			</div>
			<div class="column two-quarter">
				<div class="panel">
					<div>
						<h1>Experience</h1>
						<div class="skills">
							<div class="developer image-wrap2">
								<a href="/experience"> 								
									<img class="web_dev" src="http://ad-mays.com/wp-content/uploads/2015/07/web-dev-icon.jpg">
								</a>
							</div>
							<div class="image-wrap">
								<a href="/experience">
									<img class="business" src="http://personalandbusinessdevelopment.com/wp-content/uploads/2016/02/business-development-777x437.jpg">
								</a>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="column space-between">
				
			</div>
			<div class="column one-third">
				<div class="panel">
					<h1>Technology</h1>
					<div class="image-wrap scale-down3">
						<a href="#">
							<img class="tech" src="http://www.broadwavestudios.com/wp-content/uploads/2012/08/technology_hero.jpg">
						</a>
					</div>
				</div>	
			</div>
			<div class="column one-third">
				<div class="panel">
					<h1>About Me</h1>
					<div class="image-wrap scale-down">
						<a href="#">
							<img class="about" src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/256/Spring.me-icon.png">
						</a>
					</div>
				</div>
				
			</div>
			<div class="column one-third">
				<div class="panel">
					<h1>Contact</h1>
					<div class="contact">
						<div class="image-wrap">
							<a href="#">
							<img class="mail" src="http://www.hdinstallers.com/images/BlueIconSetEmail.jpg">
						</a>
						</div>
						<div class="image-wrap">
							<a href="#">
								<img class="cell" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTH65qyEb7VdRp3S1YE1q0XwphKHbhR_m8gpWDg2ZnSMVPaw030">
							</a>
						</div>
						
					</div>
					
				</div>
				
			</div>
			<div class="column space-between">
		
			</div>
			
		</div>	
	</div>

</body>
</html>